html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card h2 {
  color: #512200;
  margin: 0;
  font-family: Dosis, sans-serif;
}

section {
  display: block;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  padding: 1em;
}

section:hover {
  background-color: #cabdb2;
}

body {
  background-color: #f0eee8;
}

div {
  padding: 0;
  vertical-align: middle;
  max-width: 25em;
  width: 100%;
  font-family: Georgia, serif;
  display: inline-block;
  margin-left: 0;
}

.more {
  margin-left: 25%;
}

dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  float: left;
  margin-bottom: 1em;
  padding: 1em 0;
}

.left {
  float: left;
  color: #512200;
  text-decoration: none;
  width: 50%;
  text-align: left;
  font-size: .875rem;
}

.right {
  float: right;
  color: #512200;
  margin: 0;
  text-align: left;
  font-size: .875rem;
}

.columns {
  display: inline-block;
}

p {
  font-size: 1rem;
  text-decoration: none;
  color: #512200;
  font-family: Georgia, serif;
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  border: 8px solid #785439;
  border-radius: 8px;
  background-color: #785439;
  color: #fff;
  font-size: 1.125rem;
  font-family: Dosis, sans-serif;
  text-align: center;
  margin: 0;
}

.btn-wrapper {
  margin: 0 auto;
  text-align: center;
}

.link-card {
  text-decoration: none;
  background-color: #dcd4cd;
}

.link-card:hover {
  background-color: #9a816d;
}
